<!DOCTYPE html>
<html>

<head>
    <title>Adm</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="body-adm">
    
    {% set mensagem = get_flashed_messages()%}
    {% if mensagem %}
    <div class="mensagem_flash">
        {{mensagem[0]}}
    </div>
    {% endif %}

    <div class="container">
        <h1>Administrador</h1>

        

        <div class="formulario">
            <form action="/cadastrar_adm" method="post">

                <div class="inputs">
                <label for="email_adm">Email:</label>
                <input type="text" name="email_adm" id="email_adm" placeholder="Digite seu email">
                <p></p>
                <p></p>
                <label for="senha_adm">Senha:</label>
                <input type="password" name="senha_adm" id="senha_adm" placeholder="Digite sua senha">
                <p></p>
                <p></p>
                </div>
                <div class="btns">
                    <button type="submit" value="cadastrar" name="btn_adm" class="btn_cadastrar">Cadastrar</button>
                    <button type="submit" value="entrar" name="btn_adm" class="btn_cadastrar">Entrar</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>