<!DOCTYPE html>
<html>

<head>
    <title>Assinante</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="body-adm">

    {% set mensagem = get_flashed_messages()%}
    {% if mensagem %}
    <div class="mensagem_flash">
        {{mensagem[0]}}
    </div>
    {% endif %}

    <div class="container">
        <h1>Assinantes</h1>

    <div id="assinanteFrente">
        <h1 id="assintanteCad">Assinantes cadastrados</h1>
        <div id="assinante Fundo">
            {% if assinantes %}
                {% for i in assinantes%}
                  <form action="/excluir_assinante" method="post">
                    <ul id="lista">
                        <input type="hidden" name="id_padrinho" value="{{i.id_assinante}}">
                        <input type="hidden" name="nome_assinante" value="{{i.nome_assinante}}">
                        <input type="hidden" name="email_assinante" value="{{i.email_assinante}}">
                        <li>Nome: {{i.nome_assinante}}</li>
                        <li>Email: {{i.email_assinante}}</li>
                    </ul>
                    <div id="btnExcluir">
                        <button type="submit" id="excluir">EXCLUIR</button>
                    </div>
                  </form>
                    <hr id="linha"></hr>


                {% endfor %}

            {% else %}
            <h1>Não existem assinantes cadastrados</h1>
            {% endif %}

        </div>
    </div>

    
</body>

</html>