<!DOCTYPE html>
<html>

<head>
    <title>Padrinho</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="body-padrinho">
    
    {% set mensagem = get_flashed_messages()%}
    {% if mensagem %}
    <div class="mensagem_flash">
        {{mensagem[0]}}
    </div>
    {% endif %}

    <div class="container">
        <h1>Administrador</h1>

        

        <div class="formulario">
            <form action="/cadastrar_padrinho" method="post">

                <div class="inputs">
                <label for="nome_padrinho">Nome: </label>
                <input type="text" name="nome_padrinho" id="nome_padrinho" placeholder="Digite seu nome">
                <p></p>
                <label for="sobrenome_padrinho">Sobrenome: </label>
                <input type="text" name="sobrenome_padrinho" id="sobrenome_padrinho" placeholder="Digite seu sobrenome">
                <p></p>
                <label for="telefone_padrinho">Telefone: </label>
                <input type="tel" name="telefone_padrinho" id="telefone_padrinho" placeholder="digite seu telefone aqui">
                <p></p>
                <label for="email_padrinho">Email: </label>
                <input type="email" name="email_padrinho" id="email_padrinho" placeholder="digite seu email aqui">
                </div>
               <button type="submit">Cadastrar</button>
            </form>

        </div>
    </div>
</body>

</html>