<!DOCTYPE html>
<html>

<head>
    <title>Padrinho</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="body-padrinho">

    <div id="padrinhoFrente">
        <h1 id="padrinhoCad">Padrinhos cadastrados</h1>
        <div id="padrinho Fundo">
            {% if padrinhos %}
                {% for i in padrinhos%}
                  <form action="/excluir_padrinho" method="post">
                    <ul id="lista">
                        <input type="hidden" name="id_padrinho" value="{{i.id_padrinho}}">
                        <input type="hidden" name="nome_padrinho" value="{{i.nome_padrinho}}">
                        <input type="hidden" name="email_padrinho" value="{{i.email_padrinho}}">
                        <li>Nome: {{i.nome_padrinho}}</li>
                        <li>Sobrenome: {{i.sobrenome_padrinho}}</li>
                        <li>Telefone: {{i.telefone_padrinho}}</li>
                        <li>Email: {{i.email_padrinho}}</li>
                    </ul>
                    <div id="btnExcluir">
                        <button type="submit" id="excluir">EXCLUIR</button>
                    </div>
                  </form>
                    <hr id="linha"></hr>


                {% endfor %}

            {% else %}
            <h1>Não existem padrinhos cadastrados</h1>
            {% endif %}

        </div>
    </div>




</body>

</html>