<!DOCTYPE html>
<html>

<head>
    <title>Tabelas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="body-t">
    <span class="titulo">
    <h1>Autenticação</h1>
    </span>
<div class="body-tabelas">


    <div class="container-tabelas">
        <div class="dog">
            <h2>Cachorro</h2>
            <button><a href="/cachorro">Cachorro</a></button>
        </div>
        <div class="des">
            <button><a href="/despesas">Despesas</a></button>
        </div>

    </div>
</div>
</body>

</html>