<!DOCTYPE html>
<html>

<head>
    <title>Tabelas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="body-t">
    <span class="titulo">
    <h1>Autenticação</h1>
    </span>
<div class="body-tabelas">


    <div class="container-tabelas">
       <div class="dog"> 
        <h2 class="h2-autenticacao">Cachorros</h2>
        <a href="/cachorro">
            
            <img src="/static/imgs/cachorro.png"/>
            <!-- <button class="bt_tabelas"><a href="/cachorro">Cachorro</a></button> -->
        </a>
        </div>
        <div class="des">
            <h2 class="h2-autenticacao">Despesas</h2>
            <a href="/despesas">
            <img src="/static/imgs/des.jpg"/>
            <!-- <button class="bt_tabelas"><a href="/despesas">Despesas</a></button> -->
            </a>
        </div>

    </div>
</div>
</body>

</html>